@model List<BookType>
@if(TempData["basarili"] != null)
{
	<h4 class="text-danger">@TempData["basarili"]</h4>
}

<div class="container">
	<div class="row pt-3 pb-4">
		<div>
			<h1>Kitap Türleri</h1>
		</div>
	</div>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Id</th>
				<th>Kitap Türü</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var bookType in Model)
			{
				<tr>
					<td>@bookType.Id</td>
					<td>@bookType.Name</td>
					<td style="width:200px;">
						<a asp-controller="BookType" asp-action="Edit" asp-route-id="@bookType.Id" type="button" class="btn btn-warning" style="width:200px;">
							Güncelle
						</a>
					</td>
					<td style="width:200px;">
						<a asp-controller="BookType" asp-action="Delete" asp-route-id="@bookType.Id" type="button" class="btn btn-danger" style="width:200px;">
							Sil
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>

	<div class="row pt-3 pb-2">
		<div>
			<a asp-controller="BookType" asp-action="Add" class="btn btn-lg btn-primary" type="button">
				Kitap Türü Ekle
			</a>
		</div>
	</div>
</div>